.nav-app{
    margin-top: 20px;
    color: white ;
    font-size: 25px;
    text-decoration-line: underline;
    font-weight: bolder;
    position: fixed;
}

/*
.nav-app a{
    color: #f44336;
    margin-left: 20px;
} */

.nav-app a:hover{
    color:yellow;
    margin-left: 20px;
}

/* img {
  width: 70px;
  height: 70px; 
} */

  /* .menu-aloys2 {
    position: absolute;
    margin-top: 1%;
} */
  
  /* .premier {
    margin-left: 1315px;
    }
    
  .deuxieme {
  margin-left: 1385px;
  margin-top: 2%;
    }
    
  .troisieme {
    margin-left: 1500px;
    margin-top: 1%;
    } */

    a .Home {
      height: 60px;
      width: 60px;
      top: 20px;
      left: 215px;
      position: relative;
    }

    a .Pokedex {
      height: 60px;
      width: 60px;    
      top: 130px;
      left: 100px;
      position: relative;
      
    }

    a .Indexpok {
      height: 60px;
      width: 60px;
      top: 200px;
      left: -60px;
      position: relative;
    }

    /*...........................mobile.............................*/


      @media (max-width: 767px){

        .nav-app{
            bottom: 0;
            left: 0;
            position: fixed;
            text-align: center;
            background-color: #feee3999;
            width: 100%;
            height: 95px;
            padding-top: 15px;
        }
    
    
    }


    

  


    
