.nav-app{
    color: white ;
    font-size: 25px;
    text-decoration-line: underline;
    font-weight: bolder;
    position: fixed;

}
.nav-app a{
    color: #f44336;
    margin-left: 20px;
}
.nav-app a:hover{
    color: yellow;
    margin-left: 20px;
}
