.social{
    width: 60px;
    height: 40px;
    padding-left: 20px;
    
    }
    
    .footer-aloys{
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100%;
    height: 60 px; */
    bottom: 15px;

    position: absolute;
    width: 100%;
    
    }
    .droits {
        display: flex;
        /* padding-right: 343px; */
        bottom: -18px;
        left: 0;
        position: absolute;
        width: 150%;
        padding-left: 75%;
        color: #ff5700;
        font-size: 13px;
    }
    
    /*.....................................mobile...................................................*/
    
    
    @media (max-width: 767px) {
    .droits {
    display: none;
    }
    
    
    .reseaux{
    display: none;
    
    }
    .social {
    padding: 2px;
    height: 40px;
    
    }

    
    
    
    }