.background-pok {
	background-image: url("map_2.jpg");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	min-height: 720px;
	margin: 0;
	overflow: hidden;
}

.my-poki {
	background-image: url('pokedex-moyen.gif');
	border-radius: 10px;
	box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
	width: 990px;
	margin-top: 15%;
	margin: auto;
	display: flex;
	background-repeat: no-repeat;
	height: 490px;
	margin-top: 125px;
}

/*-----------------Version Mobile---------------------*/

@media (max-width: 767px) {
	/* .my-poki {
		
		border-radius: 10px;
		box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
		width: 990px;
		margin-top: 15%;
		margin: auto;
		display: flex;
		background-repeat: no-repeat;
		height: 1191px;
		margin-top: 98px;
		width: 377px;
	}
	.sprite-image {
		width: 203%;
		height: 382px;
		margin: 10px auto;
		background-color: #585858;
		background-image: url(https://i.giphy.com/media/6hNJHnfsuoFDa/giphy.webp);
		border: 15px solid #DEDEDE;
		border-radius: 5px;
		color: #585858;
		margin-left: -179px;
		margin-top: 648px;
	} */
	.my-poki {
		background-image: url('Pokehaut.png');
		border-radius: 10px;
		box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
		width: 990px;
		margin-top: 15%;
		margin: auto;
		display: flex;
		background-repeat: no-repeat;
		height: 1191px;
		margin-top: 46px;
		width: 377px;
		margin-bottom: -456px;
		
		}
		.poke-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		width: 36%;
		height: 22.4%;
		padding: 0px;
		background-color: #312f2e99;
		box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
		overflow: auto;
		margin-top: 96px;
		margin-left: 23px;
		}
		.sprite-image {
		width: 76%;
		height: 133px;
		margin: 10px auto;
		background-color: #585858;
		background-image: url(https://i.giphy.com/media/6hNJHnfsuoFDa/giphy.webp);
		border: 5px solid #DEDEDE;
		color: #585858;
		margin-left: -10px;
		margin-top: -330%;
		}
		
		.data-wrapper {
		width: 77%;
		height: 134px;
		padding: 10px;
		margin: 0 auto;
		background-color: #585858;
		box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
		color: #FFF;
		margin-left: -11px;
		margin-top: -9px;
		margin-bottom: 175px;
		border: 5px solid #2E3031;
		}
		
		p {
		margin-top: 0;
		line-height: 14px;
		}
		
		.data-name {
		font-size: 18px;
		margin-top: -38px;			
		font-family: inherit;
		margin-bottom: 7px;
		}
		.data-char{
			font-family: inherit;
			font-weight: 100;
		}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .background-pok{
    min-height: 1024px;
  }
  .my-poki{
	width: 651px;
  }
  .poke-list{
	width: 59%;
    height: 82%;
  }
  .sprite-image {
    width: 95%;
    height: 163px;    
    background-color: #585858;
    background-image: url(https://i.giphy.com/media/6hNJHnfsuoFDa/giphy.webp);
    border: 15px solid #DEDEDE;
    border-radius: 5px;
    color: #585858;
    margin-left: -8px;
    margin-top: -67px;
  }
  .detail-view {
    width: 50%;
    height: 100%;
    padding: 6px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .data-wrapper {
    width: 96%;
    height: 241px;
    padding: 10px;
    margin: 0 auto;
    background-color: navy;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
    color: cyan;
    margin-left: -10px;
    margin-top: -9px;
    border: 2px solid black;
  }
}
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px){
  
}