.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.divflex{
  display: flex;
  justify-content: center;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  height: 25px;
}
.form-group {
  margin-bottom: 1rem;
  width: 270px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffc107 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ffc107 !important;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-default {
  color: #231582 !important;
  background-color: #fff;
  border-color: #ccc;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  visibility: hidden;
}

.background-App{
  background-image: url("http://image.noelshack.com/fichiers/2016/22/1464877020-1464876038841.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: 720px;

}



h3{
  font-size: 25px;
  color: white;
  font-weight: bold; 
}
.title{
  height:133px;  
  margin-bottom: 50px;
  z-index: 100;
  position: relative;
  min-width: 300px;
}
.spacebetween{
  margin-top: 30px;
  margin-bottom: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*-----------------Version Mobile-----------------------*/

@media (max-width: 767px){

  .background-App {
    background-image: url(http://image.noelshack.com/fichiers/2016/22/1464877020-1464876038841.jpg);
    background-size: cover; 
    background-attachment: inherit;   
    text-align: center;
    min-height: 720px;
  }

}


